In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/1576-mlops-machine-learning/aula-5/casas.csv")

In [20]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [21]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [22]:
X = df.drop('preco', axis=1)
y = df['preco']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [25]:
X_train.shape

(1022, 3)

In [26]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

y_pred = linear_model.predict(X_test)

In [27]:
linear_model.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

In [28]:
linear_model.intercept_

-1484640.8721676648

In [29]:
{
    "tamanho":120,
    "ano":2001,
    "garagem":2
}

{'tamanho': 120, 'ano': 2001, 'garagem': 2}

In [30]:
import pickle

pickle.dump(linear_model, open("modelo.sav", "wb"))